html{
  height: 100vh;
}

body{
  height: 100vh;
  justify-content: center;
  font-family: Helvetica Neue;
}

.App{
  flex: 1;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#quote-box{
  align-self: center;
  background-color: white;
  margin: auto;
  width: 50%;
  border: 3px solid black;
}

#text{
  margin-top: 1em;
  text-align: center;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  margin-left:400px;
}

q {
  font-style: italic;
}

.center {
  text-align: center;
}

#new-quote{
  margin-left:30px;
}